<div class="d-flex mb-3">
	<div class="col-xl-3 col-lg-2 col-md-1 col-sm-auto"></div>


	<div class="h-auto col-xl-6 col-lg-8 col-md-10 col-sm-12 d-flex border border-info">
		<div class="bg-info col-auto">
			<div class="m-2"></div>
			<a href="/comp/main" class="w-100 btn btn-info">마이 페이지</a>
			<div class="m-2"></div>
			<a href="/comp/posting/saveForm" class="w-100 btn btn-info">공고 등록</a>
			<div class="m-2"></div>
			<a href="/comp/{{sessionComp.userId}}/postingList" class="w-100 btn btn-info">공고 관리</a>
			<div class="m-2"></div>
			<!--
			<a href="/comp/1/updateForm" class="w-100 btn btn-info">공고 수정</a>
			<div class="m-2"></div>
			<a href="#" class="w-100 btn btn-info">지원자 내역</a>
			<div class="m-2"></div>
			-->
			<a href="/comp/{{sessionComp.userId}}/bookmarkList" class="w-100 btn btn-info">이력서 북마크</a>
			<div class="m-2"></div>
			<a href="/comp/recommend" class="w-100 btn btn-info">인재 찾기</a>
			<div class="m-2"></div>
		</div>