<footer class="bg-info p-2 mt-auto">
	<div class="mt-2 d-flex justify-content-around">
		<div class="col-1"></div>
		<a href="#" class="col-auto text-decoration-none text-white">회사소개</a>
		<a href="#" class="col-auto text-decoration-none text-white">이용약관</a>
		<a href="#" class="col-auto text-decoration-none text-white">개인정보처리방침</a>
		<a href="/master/help" class="col-auto text-decoration-none text-white">고객센터</a>
		<div class="col-1"></div>
	</div>

	<div class="d-flex justify-content-center p-3">
		<div class="ms-5 mt-3" style="font-size: 14px; line-height: 0.6">
			<p>구직플랫폼 구플 (대표이사:홍길동) | 서울특별시 송파구 올림픽로 123 롯데월드타워 123층 | 통신판매번호 : 123456</p>
			<br/>
			<p>유료직업소개사업등록번호 : (국내) 제123456호 | 사업자등록번호 : 1234 | 02-1234-5678</p>
			<br/>
			<p>© Goople, Inc.</p>
		</div>
	</div>
</footer>

</body>
</html>