<!DOCTYPE html>
<html lang="en">

<head>
	<title>구플</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet"/>
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

	<link rel="icon" href="/images/brand.png">

	<style>
		@font-face {
			font-family: 'Giants-Bold';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
			font-weight: 700;
			font-style: normal;
		}

		div {
			font-family: Giants-Bold;
		}

	</style>

	<!-- 비로그인시 -->
	{{^sessionComp}}
		<style>
			.big-search {
				color: white;
				background-color: grey;
				border-style: hidden;
			}

			.header_title {
				color: grey;
			}

			.bg-info {
				background-color: grey !important;
				border-style: hidden;
			}

			.title1 {
				font-size: 50px;
			}

			.header_search {
				color: white;
			}

		</style>
	{{/sessionComp}}
	<!-- 개인로그인시 -->
	{{#sessionComp}}
		{{^sessionComp.compname}}
			<style>
				.big-search {
					color: white;
					background-color: pink;
					border-style: hidden;
				}

				.title1 {
					font-size: 50px;
					color: pink;
				}

				.header_search {
					background-color: pink;
				}

				.bg-info {
					background-color: pink !important;
					border-style: hidden;
				}

				.border-info {
					border-color: pink !important;
				}

				.btn-info {
					border-color: pink;
					background-color: pink !important;
				}

				.btn-info:hover {
					border-color: pink !important;
				}
			</style>
		{{/sessionComp.compname}}
	{{/sessionComp}}
	<!-- 기업로그인시 -->
	{{#sessionComp.compname}}
		<style>
			.big-search {
				color: white;
				background-color: #66e3dd;
				border-style: hidden;
			}

			.title1 {
				font-size: 50px;
				color: #66e3dd;
			}

			.header_search {
				border-style: solid;
				background-color: #66e3dd;
			}

			.bg-info {
				background-color: #66e3dd !important;
				border-style: hidden;
			}

			.border-info {
				border-color: #66e3dd !important;
			}

			.btn-info {
				border-color: #66e3dd;
				background-color: #66e3dd !important;
			}

			.btn-info:hover {
				border-color: #66e3dd !important;
			}
		</style>
	{{/sessionComp.compname}}

</head>

<body class="d-flex flex-column min-vh-100">
	<header>
		<div class="d-flex justify-content-center p-1">
			<div class="col-xxl-7 col-xl-9 col-lg-10 col-md-11 col-sm-12 d-flex justify-content-between">
				<div class="col-4"></div>

				<div class="col-4">
					<div class="d-flex justify-content-center">
						<a class="text-center flex-grow-1 fw-bold title1 header_title" href="/">
							Goople
						</a>
					</div>
				</div>

				<div class="col-4 d-flex justify-content-end">

					{{^sessionAdmin}}<a class="btn btn-white fw-bold align-self-center"
					                    href="/selectJoinForm">회원가입</a>{{/sessionAdmin}}
					{{^sessionAdmin}}<a class="btn btn-white fw-bold align-self-center"
					                    href="/user/loginForm">로그인</a>{{/sessionAdmin}}
					{{#sessionAdmin}}
						<a class="btn btn-white fw-bold align-self-center" href="/logout">로그아웃</a>{{/sessionAdmin}}


				</div>

			</div>
		</div>
		</div>

		<nav class="navbar navbar-expand-sm navbar-dark bg-info mb-3 p-1 d-flex justify-content-center">
			<div class="col-xxl-7 col-xl-9 col-lg-10 col-md-11 col-sm-12 d-flex justify-content-between">

				<!-- <div class="m-1"> -->
				<!-- 	<a href="/"> -->
				<!-- 		<img src="/images/brand.png" class="img-thumbnail" alt="구플 로고" width="50px"/> -->
				<!-- 	</a> -->
				<!-- </div> -->

				<div class="container-fluid align-self-center">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="mynavbar">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">
								{{^sessionComp.compname}}<a class="nav-link text-white"
								                            href="/">채용정보</a>{{/sessionComp.compname}}
								{{#sessionComp.compname}}<a class="nav-link text-white"
								                            href="/comp/posting/saveForm">공고등록</a>{{/sessionComp.compname}}
							</li>
							<li class="nav-item">
								{{^sessionComp.compname}}<a class="nav-link text-white"
								                            href="/user/resume/form">이력서등록</a>{{/sessionComp.compname}}
								{{#sessionComp.compname}}<a class="nav-link text-white"
								                            href="/comp/{{sessionComp.userId}}/posting/list">공고관리</a>{{/sessionComp.compname}}
							</li>
							<li class="nav-item">
								{{^sessionComp.compname}}<a class="nav-link text-white"
								                            href="/user/resume/manage">이력서관리</a>{{/sessionComp.compname}}
								{{#sessionComp.compname}}<a class="nav-link text-white"
								                            href="/comp/{{sessionComp.userId}}/offer/listCompSent">입사제안</a>{{/sessionComp.compname}}
							</li>
							<li class="nav-item">
								{{^sessionComp.compname}}<a class="nav-link text-white"
								                            href="/user/apply/list">지원내역</a>{{/sessionComp.compname}}
								{{#sessionComp.compname}}<a class="nav-link text-white"
								                            href="/comp/{{sessionComp.userId}}/resume/listCompReceived">지원자목록</a>{{/sessionComp.compname}}

							</li>
							<li class="nav-item">
								{{^sessionComp.compname}}<a class="nav-link text-white"
								                            href="/user/bookmark/form">북마크</a>{{/sessionComp.compname}}
								{{#sessionComp.compname}}<a class="nav-link text-white"
								                            href="/comp/{{sessionComp.userId}}/bookmark/list">북마크</a>{{/sessionComp.compname}}

							</li>
							<li class="nav-item">
								{{^sessionComp.compname}}<a class="nav-link text-white"
								                            href="/user/recommend/form">기업추천</a>{{/sessionComp.compname}}
								{{#sessionComp.compname}}<a class="nav-link text-white"
								                            href="/comp/recommend/form">인재추천</a>{{/sessionComp.compname}}

							</li>

							<li class="nav-item">
								{{#sessionAdmin}}<a class="nav-link text-danger fw-bold"
								                    href="/master/admin">관리자전용</a>{{/sessionAdmin}}
							</li>
						</ul>
					</div>
				</div>

				<div class="col-auto align-self-center me-1">
					<form class="d-flex" method="get" action="/search" id="selectPageSearchAllForm">
						<div class="me-1 w-75">
							<input class="form-control" type="text" placeholder="비워두면 전체 검색" name="keyword"
							       value="{{#keyword}}{{keyword}}{{/keyword}}"/>
							<textarea class="visually-hidden" id="pageSearchAllFind" name="pageSearchAll" rows="1"
							          cols="50">{{#pageSearchAll}}{{pageSearchAll}}{{/pageSearchAll}}{{^pageSearchAll}}
								0{{/pageSearchAll}}</textarea>
						</div>
						<div class="">

							<div class="btn btn-secondary header_search" onclick="searchAllPageZero()">검색</div>

						</div>
					</form>
				</div>

			</div>
		</nav>
	</header>

	<script>

		document.querySelector("#selectPageSearchAllForm").addEventListener("submit", function (event) {
			event.preventDefault();
			searchAllPageZero();
		}); // 엔터키 눌러도 바로 폼태그 안보내고 함수로 보내게

		function searchAllPageZero() {
			pageSearchAllFind = document.querySelector("#pageSearchAllFind")
			// console.log(pageSearchAllFind.value);
			pageSearchAllFind.value = 0;
			// console.log(pageSearchAllFind.value);

			let selectPageSearchAllForm = document.getElementById("selectPageSearchAllForm");
			selectPageSearchAllForm.submit();
		}


		// 페이지 로드 시 초기 세션 상태에 따라 링크 텍스트 변경
		function changeLoginLinksAndButton() {
			let joinLink = document.querySelector('a[href="/selectJoinForm"]');
			let loginLink = document.querySelector('a[href="/user/loginForm"]');
			let sessionUser = "{{#sessionUser.role}}{{.}}{{/sessionUser.role}}";
			let CompSession = "{{#CompSession.role}}{{.}}{{/CompSession.role}}";

			if (sessionUser === "1" || CompSession === "2") {
				// 로그인 상태일 때
				joinLink.textContent = "로그아웃";
				joinLink.href = "/logout";


				if (sessionUser === "1") {
					// 역할이 1인 경우 (개인 사용자)
					loginLink.textContent = "마이페이지";
					loginLink.href = "/user/updateForm";
				} else if (CompSession === "2") {
					// 역할이 2인 경우 (기업 사용자)
					loginLink.textContent = "기업페이지";
					loginLink.href = "/comp/updateForm";
				}

			} else {
				// 로그아웃 상태일 때
				joinLink.textContent = "회원가입";
				joinLink.href = "/selectJoinForm";
				loginLink.textContent = "로그인";
				loginLink.href = "/user/loginForm";
			}
		}

		// 페이지 로드 시 초기 세션 상태에 따라 링크 텍스트 변경
		document.addEventListener("DOMContentLoaded", function () {
			changeLoginLinksAndButton();
		});

	</script>

</html>