{{> layout/header}}

<div class="container p-5">

    <div class="card">
        <div class="card-header"><b>글수정 화면입니다</b></div>
        <div class="card-body">
            <form action="#">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter title" name="title" value="제목">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" name="content">내용</textarea>
                </div>
                <button type="submit" class="btn btn-primary form-control">글수정완료</button>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}