{{> layout/header}}
{{> layout/comp2header}}

<!-- 24번 기업_인재추천 페이지-->


<div class="col-9 m-auto">

	<h1 class="text-center mt-2">인재 추천</h1>


	<form action="/comp/recommend/form" method="get" id="selectform" class="d-flex justify-content-around m-1">

		<div class="w-50 m-1 me-2 mb-2 border border-info">
			<h4 class="mt-2 text-center">기술별</h4>

			<div class="form-check d-inline-block ms-3 me-2">
				<label class="form-check-label">
					<input class="form-check-input" type="checkbox" name="skillList" id="skillAll" value="all"
					       onclick="skillCheck(this)">
					모두</label>
			</div>

			<hr class="m-1">
			<div class="d-flex flex-wrap">

				{{#skillList}}
					<div class="form-check d-inline-block ms-3 me-2">
						<label class="form-check-label">
							<input class="skillFind form-check-input" type="checkbox" id="{{skillname}}"
							       name="skillList" value="{{skillname}}" onclick='skillAllCheck()'>
							{{skillname}}</label>
					</div>
				{{/skillList}}

			</div>
		</div>

		<div class="w-50 m-1 ms-2 mb-2 border border-info">
			<h4 class="mt-2 text-center">직무별</h4>

			<div class="form-check d-inline-block ms-3 me-2">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" id="all2" name="position" value="all">
					모두</label>
			</div>

			<hr class="m-1">

			<div class="d-flex flex-wrap">
				<div class="form-check d-inline-block ms-3 me-2">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" id="백엔드" name="position" value="백엔드">
						백엔드</label>
				</div>
				<div class="form-check d-inline-block ms-3 me-2">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" id="프론트엔드" name="position" value="프론트엔드">
						프론트엔드</label>
				</div>
				<div class="form-check d-inline-block ms-3 me-2">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" id="풀스택" name="position" value="풀스택">
						풀스택</label>
				</div>
				<div class="form-check d-inline-block ms-3 me-2">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" id="안드로이드" name="position" value="안드로이드">
						안드로이드</label>
				</div>
				<div class="form-check d-inline-block ms-3 me-2">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" id="IOS" name="position" value="IOS">
						IOS</label>
				</div>
				<div class="form-check d-inline-block ms-3 me-2">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" id="임베디드" name="position" value="임베디드">
						임베디드</label>
				</div>
				<div class="form-check d-inline-block ms-3 me-2">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" id="빅데이터" name="position" value="빅데이터">
						빅데이터</label>
				</div>
				<div class="form-check d-inline-block ms-3 me-2">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" id="서버" name="position" value="서버">
						서버</label>
				</div>
				<div class="form-check d-inline-block ms-3 me-2">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" id="머신러닝" name="position" value="머신러닝">
						머신러닝</label>
				</div>
			</div>
		</div>

	</form>

	<div class="m-2 ms-2 me-2">
		<div class="btn btn-success w-100 bg-info" onclick="searchAll()">검색하기</div>
	</div>


	<div class="d-flex flex-wrap">

		{{#userList}}
			<div class="w-50">
				<div class="border border-info m-2 p-1 bg-info">

					<div class="d-flex justify-content-between">
						<div>
							<div class="m-auto">
								<span class="badge"
								      style="background-color: #2f3a7d">{{#position}}{{position}}{{/position}}</span>
								{{#userSkillList}}<span class="badge me-1"
								                        style="background-color: #7F00FF">{{skill.skillname}}</span>{{/userSkillList}}
							</div>

							<div class="d-flex mb-1">
								<div>'<b>{{#username}}{{username}}{{/username}}</b>'님의 공개 이력서 모음</div>
							</div>

						</div>

						<div class="align-self-center mb-1">
							<form class="" action="/comp/bookmark/list/saveAll" method="post">
								{{#resumeList}}
									<input type="hidden" name="ResumeIdList" value="{{id}}">
								{{/resumeList}}
								<input class="btn btn-warning btn-sm text-white" type="submit" value="모두 북마크">
							</form>
						</div>
					</div>

					<hr class="m-0 mb-1">

					<div class="ms-1">
						{{^resumeList}}
							<div>공개 이력서 없음</div>
						{{/resumeList}}

						{{#resumeList}}
							<a href="javascript:void(0);" class="{{disclosure}}"
							   onclick="openNewWindow('/resume/newWindow/{{id}}')">{{title}}</a>
						{{/resumeList}}
					</div>


				</div>
			</div>
		{{/userList}}

	</div>

</div>


<input type="hidden" value="{{json}}" name="json" id="json">
<input type="hidden" value="{{position}}" name="positionSet" id="positionSet">


<script>

	function skillCheck(selectAll) {
		let skillAll = document.querySelectorAll(".skillFind");
		// let allCheck=document.querySelector("#all");

		skillAll.forEach(element => {
			element.checked = selectAll.checked;
		});
	}

	function skillAllCheck() {
		let allCheck = document.querySelector("#skillAll");
		let skillAll = document.querySelectorAll(".skillFind");
		let skillAllCheck = document.querySelectorAll(".skillFind:checked");

		if (skillAll.length == skillAllCheck.length) {
			allCheck.checked = true;
		} else {
			allCheck.checked = false
		}
		;
	}


	function searchAll() {
		if (document.querySelector("#skillAll").checked) {
			let skillfind = document.querySelectorAll(".skillFind")
			skillfind.forEach(element => {
				element.checked = false;
			});
		}
		let submit = document.getElementById("selectform");
		submit.submit();
	}

	function openNewWindow(url) {
		var width = 800; // 새 창의 가로 크기
		var height = 1100; // 새 창의 세로 크기
		var left = (window.innerWidth - width) / 2; // 화면 중앙에 위치
		var top = (window.innerHeight - height) / 2; // 화면 중앙에 위치

		var options = 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top;
		window.open(url, '새 창', options);
	}


	// 비공개이력서 숨기기
	let disclosureFalseList = document.querySelectorAll(".false");
	disclosureFalseList.forEach(element => {
		element.style.display = "none";
	});


	function check() {
		const json = JSON.parse(document.querySelector("#json").value);

		let skillCheckBoxAll = document.getElementById("skillAll");

		if (json[0] != skillCheckBoxAll.value) {
			json.forEach(element => {
				document.getElementById(element).checked = true;
			});
			skillCheckBoxAll.checked = false;
		} else {
			skillCheckBoxAll.checked = true;
			let skillFind2 = document.querySelectorAll(".skillFind")
			skillFind2.forEach(element => {
				element.checked = true;
			});
		}
	}

	check();

	const positionSet = document.querySelector("#positionSet").value;
	if (positionSet == "all") {
		document.getElementById("all2").checked = true;
	} else {
		document.getElementById(positionSet).checked = true;
	}


</script>



{{> layout/comp2footer}}
{{> layout/footer}}