{{> layout/header}}

<style>
	.question {
		height: auto;
		width: 1150px;
	}

	.shadow {
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	}
</style>

<section id="contentArea" class="container-fluid">
	<div class="d-flex justify-content-center">
		<div>
			<div class="d-flex justify-content-end p-5">
				<aside id="sidebar" class="span3">
					<div class="shadow">
						<form
							action="/search"
							method="GET"
							id="searchBar"
							class="sm"
							autocomplete="off"
						>
							<input
								type="hidden"
								name="collectionId"
								value="5b28d1512c7d3a0fa9a325f2"
							/>
							<input
								type="text"
								name="query"
								title="search-query"
								class="search-query"
								placeholder="Search"
								value=""
								aria-label="Search"
							/>
							<button type="submit">
								<span class="sr-only">Toggle Search</span>
								<i class="icon-search"></i>
							</button>
							<div id="serp-dd" style="display: none" class="sb">
								<ul class="result"></ul>
							</div>
						</form>
					</div>
				</aside>
			</div>
			<section id="main-content" class="span9 mb-5">
				<div class="question shadow contentWrapper card p-5">
					<div>
						<div class="d-flex justify-content-between">
							<h3 class="m-2">자주 묻는 질문</h3>
							<div class="btn-group">
								<button
									id="selectButton"
									type="button"
									class="btn border dropdown-toggle"
									data-bs-toggle="dropdown"
								>
									개인
								</button>
								<div class="dropdown-menu">
									<div
										id="general"
										class="dropdown-item"
										onclick="selectButton('general')"
									>
										개인
									</div>
									<div
										id="company"
										class="dropdown-item"
										onclick="selectButton('company')"
									>
										기업
									</div>
								</div>
							</div>
						</div>

						<ul class="list-group list-group-flush mt-2">
							<li class="list-group-item">계정 이미지는 어떻게 설정하나요?</li>
							<li class="list-group-item">아이디/비밀번호를 잊어버렸어요.</li>
							<li class="list-group-item">인증 받을 메일이 없어졌어요.</li>
							<li class="list-group-item">
								개인정보가 포함된 이력서가 검색됩니다.
							</li>
							<li class="list-group-item">
								실수로 삭제한 글을 복구할수 있나요?
							</li>
							<li class="list-group-item">도용/해킹이 의심돼요.</li>
							<li class="list-group-item">탈퇴한 아이디를 복구할수 있나요?</li>
						</ul>
					</div>
					<div>
						<div class="d-flex mt-3 justify-content-end">
							<div>
								<button
									class="btn btn-info"
									style="box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)"
									type="button"
									onclick="questionForm()"
								>
									문의 작성 하기
								</button>
							</div>
							<div class="mx-2">
								<button
									class="btn btn-info"
									style="box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)"
									type="button"
									onclick="questionList()"
								>
									작성 문의 보기
								</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
<script>
	function questionForm() {
		location.href = "/question/Form";
	}

	function questionList() {
		location.href = "/question/List";
	}

	function selectButton(selectId) {
		let elementId = document.querySelector(`#${selectId}`);
		let elementDiv = elementId.innerText;
		document.querySelector("#selectButton").innerText = elementDiv;
	}
</script>
{{> layout/footer}}
