{{> layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>회원가입을 해주세요</b></div>
        <div class="card-body">
            <form action="#" enctype="multipart/form-data">
                <div class="mb-3">
                    <input type="text" id="username" class="form-control" placeholder="Enter username" name="username">
                    <button type="button" class="btn btn-warning">중복체크</button>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Enter password" name="password" >
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Enter email" name="email">
                </div>
                <div class="mb-3">
                    <input type="file" class="form-control" placeholder="Enter pic" name="pic">
                </div>
                <button id="btnJoin" type="submit" class="btn btn-primary form-control">회원가입</button>
            </form>
        </div>
    </div>
</div>
{{> layout/footer}}