{{> layout/header}}

<!--10번 개인공고상세보기 화면-->
<!-- postingDetail.mustache -->
<div class="d-flex mt-2 mb-4">
	<div class="col-xl-3 col-lg-2 col-md-1"></div>

	<div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 border border-info">
		<div class="d-flex p-2">
			<div class="col-6 ms-3">
				<a href="#"><img src="../../../images/basic.jpg" class="img-fluid" style="width:400px; height:300px;"/></a>
			</div>

			<div class="col-5 p-4 ms-4 bg-info">
				<div>
					<button type="button" class="btn btn-warning mb-3">
						북마크하기
					</button>
				</div>
				<div>
					<button type="button" class="btn btn-warning mb-3">
						지원하기
					</button>
				</div>
				<div>
					<button type="button" class="btn"><h1>❤️</h1></button>
				</div>
			</div>
		</div>

		<div class="p-3">
			<div><h2>백엔드 개발자 모집</h2></div>
			<div><h5>카카오</h5></div>
			<div>회사설명+이미지</div>
		</div>


	</div>


	<div class="col-xl-3 col-lg-2 col-md-1"></div>
</div>


{{> layout/footer}}