{{> layout/header}}
<!-- 14번 이력서관리 화면-->
<div class="d-flex mb-3">
	<div class="col-2"></div>
	<div class="class col-8 h-auto d-flex border border-info">
		<div class="bg-info col-2">
			<div class="m-2"></div>
			<a href="updateForm" class="w-100 btn btn-info">마이 페이지</a>
			<div class="m-2"></div>
			<a href="resumeForm" class="w-100 btn btn-info">이력서 등록</a>
			<div class="m-2"></div>
			<a href="resumeManage" class="w-100 btn btn-info">이력서 관리</a>
			<div class="m-2"></div>
			<a href="applyList" class="w-100 btn btn-info">지원내역</a>
			<div class="m-2"></div>
			<a href="bookMarkForm" class="w-100 btn btn-info">북마크</a>
			<div class="m-2"></div>
			<a href="recommendForm" class="w-100 btn btn-info">기업추천</a>
			<div class="m-2"></div>
		</div>
		<div class="main col-10">
			<div>
				<h1 class="text-center"> 이력서관리하기</h1>
			</div>
			{{#resumes}}
			<div>
				<span type="text" class="w-50">{{title}}</span>
				<a href="/user/resume/{{id}}" class="w-20 btn btn-info">상세보기</a>
				<a href="/user/resumeUpdateForm/{{id}}" class="w-20 btn btn-info">수정</a>
				<form action="/board/{{resumeId}}/delete" method="post">
					<button type="submit" class="btn btn-danger">삭제</button>
				</form>


				<hr>
			</div>
			{{/resumes}}

		</div>
	</div>
</div>