{{> layout/header}}

<!--12번 개인마이페이지 화면-->
<div class="d-flex mb-3">

	<div class="col-2"></div>
	<div class="class col-8 h-auto d-flex border border-info">
		<div class="bg-info col-2">
			<div class="m-2"></div>
			<a href="/user/updateForm" class="w-100 btn btn-info">마이 페이지</a>
			<div class="m-2"></div>
			<a href="/user/resume/form" class="w-100 btn btn-info">이력서 등록</a>
			<div class="m-2"></div>
			<a href="/user/resume/manage" class="w-100 btn btn-info">이력서 관리</a>
			<div class="m-2"></div>
			<a href="/user/apply/list" class="w-100 btn btn-info">지원내역</a>
			<div class="m-2"></div>
			<a href="/user/bookmark/form" class="w-100 btn btn-info">북마크</a>
			<div class="m-2"></div>
			<a href="/user/recommend/form" class="w-100 btn btn-info">기업추천</a>
			<div class="m-2"></div>
		</div>
		<div class="col-9 ms-3">
			<h1 class="text-center mt-2">마이페이지</h1>

			<form action="/user/update" method="post" enctype="multipart/form-data">
				<div class="d-flex">
					<div class="m-2 col-4 d-flex flex-column align-items-center">
						<img id="preview"
						     src="{{#user.photo}}/images/{{user.photo}}{{/user.photo}}{{^user.photo}}/images/basic.jpg{{/user.photo}}"
						     class="img-fluid rounded-circle" style="width:150px; height:150px;"/>
						<div class="input-group mb-3 mt-1">
							<input type="file" class="form-control" placeholder="Enter pto" name="pto"
							       onchange="changePic(event)"
							       required>
							<!-- <input type="hidden" name="previousPhoto" value="{{ user.photo }}" /> -->
						</div>
					</div>

					<div>
						<div class="input-group col-6 mb-3">
							<span class="input-group-text"><span class="ms-2 me-4">이름</span></span>
							<input type="text" class="form-control" value="{{user.username}}" name="username" required>
						</div>
						<div class=" input-group mb-3">
							<span class="input-group-text">전화번호</span>
							<input type="tel" class="form-control" value="{{user.tel}}" name="tel" required>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text"><span class="ms-2 me-4">주소</span></span>
							<input type="text" class="form-control"
							       value="{{#user.address}}{{user.address}}{{/user.address}}{{^user.address}}{{/user.address}}"
							       name="address"
							       required>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">생년월일</span>

							<input type="date" class="form-control"
							       value="{{#user.birth}}{{user.birth}}{{/user.birth}}{{^user.birth}}{{/user.birth}}"
							       name="birth"
							       required>
						</div>
					</div>

				</div>
				<div>
					<input id="button" class=" btn btn-primary m-2 mb-3 w-100 bg-info" type="submit" value="수정">
				</div>
			</form>
		</div>

	</div>
</div>
</div>
<script>
	function changePic(e1) {
		console.log(e1);
		let f = e1.srcElement.files[0];
		if (!f.type.match("image.*")) {
			alert("이미지를 등록해주세요.");
			return;
		}
		let reader = new FileReader(); //버퍼를 하나 만듦 ,메모리에 끌어 올릴려고!
		reader.onload = function (e2) { // 파일이 다 읽어지면 콜백됨
			let previewEl = document.querySelector("#preview");
			previewEl.setAttribute("src", e2.target.result);
		}
		reader.readAsDataURL(f); // 파일 읽기, 버퍼로 다 읽으면 onload() 발동 -> 파일 다 읽으면 콜백
	}
</script>
{{> layout/footer}}