{{> layout/header}}
{{> layout/compHeader}}

<!-- 19번 -->



		<div class="col-9 ms-3">
			<h1 class="text-center mt-2">공고관리</h1>

			<div class="d-flex border border-info m-3 p-2 justify-content-between">
				<div class="">
					<div>asd</div>
					<div>asd</div>
					<div>asdasdasd</div>
				</div>

				<div class="m-3">
					<button type="button" class="btn btn-success">공고 수정</button>
				</div>
			</div>



			<div class="d-flex border border-info m-3 p-2 justify-content-between">
				<div class="">
					<div>asd</div>
					<div>asd</div>
					<div>asdasdasd</div>
				</div>

				<div class="m-3">
					<button type="button" class="btn btn-success">공고 수정</button>
				</div>
			</div>

			<div class="d-flex border border-info m-3 p-2 justify-content-between">
				<div class="">
					<div>asd</div>
					<div>asd</div>
					<div>asdasdasd</div>
				</div>

				<div class="m-3">
					<button type="button" class="btn btn-success">공고 수정</button>
				</div>
			</div>

			<div class="d-flex border border-info m-3 p-2 justify-content-between">
				<div class="">
					<div>asd</div>
					<div>asd</div>
					<div>asdasdasd</div>
				</div>

				<div class="m-3">
					<button type="button" class="btn btn-success">공고 수정</button>
				</div>
			</div>

		</div>






{{> layout/compFooter}}
{{> layout/footer}}