{{> layout/header}}
{{> layout/comp2header}}

<!-- 23번 -->

<div class="col-9 ms-3">
	<h1 class="text-center mt-2">이력서 북마크</h1>

	{{#resumeList}}
	<div class="d-flex border border-info m-3 mb-4 p-2 ps-0 justify-content-between bg-info">
		<div class="container">
			<div class="">'<b class="fs-5">{{user.username}}</b>'님의 '<b class="fs-5">{{title}}</b>'입니다.</div>
			<hr class="m-0 mb-2">

			<div class="d-flex align-items-center">

				<a href="javascript:void(0);" class="align-self-start col-6 btn btn-light" onclick="openNewWindow('/resume/newWindow/{{id}}')">
					<div>
						<span class="badge bg-success">{{career}}</span>
						<span class="badge bg-success">{{grade}}</span>
						<span class="badge bg-success">{{user.address}}</span>
					</div>
					<div>
						<span class="badge bg-primary">{{user.position}}</span>
						<span class="badge bg-warning">{{user.birth}}</span>
					</div>
					<div>
						{{#user.userSkillList}}<span class="badge bg-secondary me-1">{{skill.skillname}}</span>{{/user.userSkillList}}
					</div>
				</a>

				<div class="text-break ps-3 pe-3">
					{{personalStatement}}
				</div>

			</div>



		</div>
		<div class="d-flex flex-column justify-content-around col-auto">
			<a href="javascript:void(0);" class="btn btn-success btn-sm" onclick="openNewWindow('/resume/newWindow/{{id}}')">자세히 보기</a>
			<a href="" class="btn btn-primary btn-sm">연락하기</a>
			<form action="/comp/bookmarkList/delete" method="post">
				<input type="hidden" name="hiddenResumeId" value="{{id}}">
				<input class="btn btn-danger btn-sm w-100" type="submit" value="북마크 삭제">
			</form>
		</div>
	</div>
	{{/resumeList}}

</div>


<script>
	

	function openNewWindow(url) {
	  var width = 600; // 새 창의 가로 크기
	  var height = 1100; // 새 창의 세로 크기
	  var left = (window.innerWidth - width) / 2; // 화면 중앙에 위치
	  var top = (window.innerHeight - height) / 2; // 화면 중앙에 위치
	
	  var options = 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top;
	  window.open(url, '새 창', options);
	}



</script>


{{> layout/comp2footer}}
{{> layout/footer}}
