{{> layout/header}}
{{> layout/comp2header}}

<!-- 18번 -->


		<div class="col-auto container">
			<h1 class="text-center mt-2">기업 페이지</h1>

			<div class="d-flex">
				<div class="m-1 col-4 d-flex flex-column align-items-center overflow-hidden" style="width:170px; height:280px;">
					<img src="../../../images/{{sessionComp.compname}}_logo.png" class=""/>
				</div>

				<div class="col-8 p-2">
						<div class="input-group mb-3">
							<span class="input-group-text">회사명</span>
							<input type="text" class="form-control" value="{{sessionComp.compname}}" disabled>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">사업자번호</span>
							<input type="text" class="form-control" value="{{sessionComp.compRegister}}" disabled>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">주소</span>
							<textarea class="form-control" rows="2">{{#sessionComp.address}}{{sessionComp.address}}{{/sessionComp.address}}</textarea>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">전화번호</span>
							<input type="text" class="form-control" value="{{sessionComp.tel}}">
						</div>
						<div class="input-group mb-2">
							<span class="input-group-text">홈페이지</span>
							<input type="text" class="form-control" value="asd">
						</div>
				</div>

			</div>

			<!--

			<div class="input-group mb-3 ms-1">
				<span class="input-group-text">기업소개</span>
				<textarea class="form-control" rows="5"></textarea>
			</div>
			-->

			<div>
				<button type="button" class="mb-3 ms-1 w-100 btn btn-success">기업 정보 수정</button>
			</div>

		</div>









{{> layout/comp2footer}}
{{> layout/footer}}