{{> layout/header}}
<!-- 25번 -->




		<div class="col-auto container border border-info mb-2">
			<h1 class="text-center mt-2">이력서 상세보기</h1>

			<div class="d-flex">
				<div class="m-1 col-4 d-flex flex-column align-items-center overflow-hidden" style="width:165px; height:165px;">
					<img src="../../../images/basic.jpg" class="img-fluid rounded-circle"/>
				</div>

				<div class="col-8 p-2">
						<div class="input-group mb-3">
							<span class="input-group-text">이름</span>
							<input type="text" class="form-control" value="홍길동" disabled>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">전화번호</span>
							<input type="text" class="form-control" value="010-1234-5678" disabled>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">주소</span>
							<textarea class="form-control" rows="2" disabled>서울특별시 송파구 올림픽로 300 롯데월드타워 35층</textarea>
						</div>
						<div class="input-group mb-2">
							<span class="input-group-text">생년월일</span>
							<input type="text" class="form-control" value="1111.11.11" disabled>
						</div>
				</div>

			</div>

			<div class="input-group mb-3 ms-1">
				<span class="input-group-text">학력사항</span>
				<input type="text" class="form-control" value="asdasdas" disabled>
			</div>

			<div class="input-group mb-3 ms-1">
				<span class="input-group-text">경력사항</span>
				<input type="text" class="form-control" value="asdasdas" disabled>
			</div>

			<div class="input-group mb-3 ms-1">
				<span class="input-group-text">보유기술</span>
				<input type="text" class="form-control" value="asdasdas" disabled>
			</div>

			<div class="input-group mb-3 ms-1">
				<span class="input-group-text">자기소개서</span>
				<textarea class="form-control" rows="5" disabled>asfasfasfasf</textarea>
			</div>


			<div class="d-flex justify-content-center">
				<button type="button" class="mb-3 ms-1 w-100 btn btn-success">연락하기</button>
				<button type="button" class="mb-3 ms-3 w-100 btn btn-warning">북마크하기</button>
			</div>

		</div>




		
{{> layout/footer}}