{{> layout/header}}
{{> layout/comp2header}}

<!-- 18번 -->


<form action="/comp/updateForm/{{sessionComp.userId}}/update" method="post" onsubmit="" class="col-auto container"
      id="selectform" enctype="multipart/form-data">
	<h1 class="text-center mt-2">기업 페이지</h1>

	<div class="d-flex">
		<div class="m-1 col-4 d-flex flex-column img-fluid d-block m-auto" style="width:180px; height:280px;">
			<img src="/images/{{#sessionComp.photo}}{{sessionComp.photo}}{{/sessionComp.photo}}" class=""/>
		</div>

		<div class="col-8 pt-1">
			<div class="input-group mb-3">
				<span class="input-group-text">회사명</span>
				<input type="text" class="form-control"
				       value="{{#sessionComp.compname}}{{sessionComp.compname}}{{/sessionComp.compname}}" disabled>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">사업자번호</span>
				<input type="text" class="form-control"
				       value="{{#sessionComp.compRegister}}{{sessionComp.compRegister}}{{/sessionComp.compRegister}}"
				       disabled>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">주소</span>
				<textarea class="form-control" rows="2"
				          name="address">{{#sessionComp.address}}{{sessionComp.address}}{{/sessionComp.address}}</textarea>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">전화번호</span>
				<input type="text" class="form-control" value="{{sessionComp.tel}}" name="tel">
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">홈페이지</span>
				<input type="text" class="form-control"
				       value="{{#sessionComp.homepage}}{{sessionComp.homepage}}{{/sessionComp.homepage}}"
				       name="homepage">
			</div>
			<div class="mb-2">
				<input type="file" class="form-control" name="photo">
			</div>

		</div>

	</div>

	<!--

    <div class="input-group mb-3 ms-1">
        <span class="input-group-text">기업소개</span>
        <textarea class="form-control" rows="5"></textarea>
    </div>
    -->

	<div>
		<input id="button" class="btn btn-primary w-100 mb-3 mt-2 bg-info" type="submit" value="기업 정보 수정" onclick="">
	</div>

</form>









{{> layout/comp2footer}}
{{> layout/footer}}